[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
djangorestframework = "==3.10.*"
djangorestframework-jwt = "==1.11.*"
djangorestframework-camel-case = "==1.0.*"
django-cors-headers = "==2.4.*"
drf-nested-routers = "==0.91.*"
psycopg2-binary = "==2.8.*"
uWSGI = "==2.0.17"
celery = "==4.3.*"
redis = "=="

[dev-packages]
django-extensions = "==2.2.*"
factory-boy = "==2.11.*"
ipython = "==7.8.*"
black = "==19.3b0"
v = {version = "*", editable = true}

[requires]
python_version = "3.7"
